body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width:'960px';
    font-size: '18px';
    margin: 60px;
 }
 
 .header {
    background: #ebebeb;
    padding-top: 30px;
    margin: 10px 20px 10px 20px;
    text-align: center;
    height: 50px;
    width: 960px;
 }
 
 .nav {
    background: #ebebeb;
    padding-top: 30px;
    margin: 10px 20px 20px 20px;
    text-align: center;
    height: 50px;
    width: 960px;
 }
 
 .section {
    background: #ebebeb;
    padding-top: 20px;
    text-align: center;
    width: 495px;
    height: 300px;
    margin-left:20px;
    float:left;
 }
 
 .article {
    color: #ebebeb;
    background: #777;
    text-align: center;
    margin: 10px;
    height: 220px;
    margin: 20px;
    padding-top: 15px;
 }
 
 .h1 {
    color: #777;
    background: #ebebeb;
    text-align: center;
    margin: 20px 20px 10px 20px;
    height: 40px;
    padding-top: 30px;
 }
 
 .p {
    color: #777;
    background: #ebebeb;
    text-align: center;
    margin: 10px 20px 10px 20px;
    height: 40px;
    padding-top: 30px;
 }
 
 .aside {
    background: #ebebeb;
    height: 300px;
    width: 445px;
    text-align: center;
    padding-top: 20px;
    float: left;
    margin-left: 20px;
 }
 
 .footer {
    background: #ebebeb;
    padding-top: 30px;
    margin: 20px;
    text-align: center;
    height: 50px;
    width: 960px;
    float: left;
 }
